<div class="form-group inner-addon right-addon">
    <input 
    [type]="showPassword ? 'text': 'password'"
    name="password"
    class="password input-group m-md-t-1"
    id="idPassword"
    placeholder="Tu contraseña"
    [(ngModel)]="data.password"
    (blur)="validatePassword()"
    (keyup)="validatePassword()">
    <div *ngIf="!visible">
        <p alt="show" class="far eye-show m-md-t-2"
        (click)="showPassword = !showPassword"
        [class.hide]="showPassword"><u>Mostrar</u>
        </p>
        <p alt="hide" class="far eye-hide m-md-t-2"
        (click)="showPassword = !showPassword"
        [class.hide]="!showPassword"><u>Ocultar</u>
        </p>
    </div>
</div>
<span 
class="error"
*ngIf="required"><strong>{{msj}}</strong></span>